In [1]:
import pandas as pd
import numpy as np

In [11]:
# 随机生成五个序列
s1 = pd.Series(np.random.randn(5))
s2 = pd.Series(np.random.randn(5))
s3 = pd.Series(np.random.randn(5))
s4 = pd.Series(np.random.randn(5))
s5 = pd.Series(np.random.randn(5))
# 将五个序列合并为一个数据框
df = pd.DataFrame([s1.T, s2.T, s3.T, s4.T, s5.T])
print(df)

          0         1         2         3         4
0 -1.652732 -1.412776  0.867011  0.005395 -0.177654
1  0.771347 -0.000647  0.165995  1.515457 -0.970186
2  1.477174  0.524461  1.327075  1.268351  0.391915
3 -0.609108 -0.235792 -0.524116 -1.635046 -0.127670
4 -1.884505 -2.270891  1.357767  0.820309 -0.252059

In [12]:
# 重命名
df.rename(columns={0: 'A', 1: 'B', 2: 'C', 3: 'D', 4: 'E'}, inplace=True)

In [13]:
df

          A         B         C         D         E
0 -1.652732 -1.412776  0.867011  0.005395 -0.177654
1  0.771347 -0.000647  0.165995  1.515457 -0.970186
2  1.477174  0.524461  1.327075  1.268351  0.391915
3 -0.609108 -0.235792 -0.524116 -1.635046 -0.127670
4 -1.884505 -2.270891  1.357767  0.820309 -0.252059